<!DOCTYPE html>
<html ng-app="tpsApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>tupreferes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body ng-controller="MainController as main">
        
        <h1>Hello world</h1>
        
        <section class="container main-content" ng-view></section>
        
        <!-- LIB -->
        <script src="/lib/angular/angular.min.js"></script>
        <script src="/lib/angular-route/angular-route.min.js"></script>
        <script src="/lib/angular-i18n/angular-locale_fr-fr.js"></script>
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/lodash/lodash.min.js"></script>
        
        <!-- ANGULAR APP -->
            <script src="/modules/app.js"></script>
            
            <!-- controllers -->
            <script src="/modules/main.controller.js"></script>
            <script src="/modules/components/play/play.controller.js"></script>

    </body>
</html>